/* Default */
.default {
    background-color: #f2f2f2;
    color: #222;
    /*border-top-color: #2E9E82 !important;*/
}
th.default,
td.default .bed {
    /*border-bottom-color: #2E9E82 !important;*/
    border-bottom-width: 1px !important;
}
th.row-timeline-heading.default {
    background-image: url(../images/timeline-header.gif);
}
.first {
    border-left: 2px solid black;
}
.default .bed-label {
    background-color: #ccc;
    border-bottom: 1px solid #ccc;
}

/* Green */
.green-timeline {
    background-color: #00897B;
    color: white;
    border-top-color: #009688 !important;
}
th.green-timeline,
td.green-timeline .bed {
    border-bottom-color: #009688 !important;
    border-bottom-width: 1px !important;
}
th.row-timeline-heading.green-timeline {
    background-image: url(../images/timeline-header-white.png);
}
.green-timeline .first {
    border-left: 2px solid white;
}
.green-timeline .bed-label {
    background-color: #009688;
    border-bottom: 1px solid #009688;
}
.green-timeline.timeline-nav, .green-timeline .nav-btn .btn:focus {
    background-color: #009688;
}


/* Blue */
.blue-timeline {
    background-color: #4A89DC;
    color: white;
    border-top-color: #659BE2 !important;
}
th.blue-timeline,
td.blue-timeline .bed {
    border-bottom-color: #659BE2 !important;
    border-bottom-width: 1px !important;
}
th.row-timeline-heading.blue {
    background-image: url(../images/timeline-header-white.png);
}
.blue-timeline .first {
    border-left: 2px solid white;
}
.blue-timeline .bed-label {
    background-color: #659BE2;
    border-bottom: 1px solid #659BE2;
}

.white-timeline {
    color: white;
}